body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(https://images.unsplash.com/photo-1474898856510-884a2c0be546?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c273248fe3fdc5d05883723a21f176c1&auto=format&fit=crop&w=1867&q=80);
    background-size: cover;
  }

  main {
    flex: 1 0 auto;
    background: white;
  }
    /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
   .input-field label {
    color: #000;
  }

  /* label focus color */
  .input-field input[type=email]:focus + label {
    color: #fffa00;
  }
  /* label underline focus color */
  .input-field input[type=email]:focus {
    border-bottom: 1px solid #fff000;
    box-shadow: 0 1px 0 0 #fff000;
  }
  /* valid color */
  .input-field input[type=email].valid {
    border-bottom: 1px solid #fff000;
    box-shadow: 0 1px 0 0 #0ff000;
  }
  /* invalid color */
  .input-field input[type=email].invalid {
    border-bottom: 1px solid #afa000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }
  .bgimg {
    background-image: url('https://images.unsplash.com/photo-1498190338361-82055e010b39?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2480a8aea9510ab70d66707200f11f90');
    height: 100%;
    background-size: cover;
    font-size: 25px;
  }
  
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(53, 53, 53, 0.799);
    width: 30%;
    margin: 40px auto;
    padding-top: 20px;
  }
  
  hr {
    margin: auto;
    width: 50%;
    border-bottom: solid white;
  }
  .container-large {
    margin: 0 auto;
    max-width:1280px;
    width:95%;
  }
  .img-container {
    position: relative;
    text-align: center;
    color: white;
  }
  .tCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}